.full-content {
  max-width: 94%;
  width: 1440px;
  margin: auto;
  height: 100%;
  z-index: 0;
}

.half-content {
  max-width: 94%;
  width: 720px;
  margin: auto;
  height: 100%;
  z-index: 0;
}

.section {
  height: 100vh;
  position: relative;
}
